:root {
    /* Primary Color */
    --bs-primary: #e64398; /* Pink */
  
    /* Secondary Colors */
    --bs-secondary: #B39BC8; /* Purple */
    --bs-success: #A1C3D1; /* Light Blue */
    --bs-info: #F0EBF4; /* Light Pink */
    --bs-warning: #E64398; /* Dark Pink */
  }
  
  /* Override button colors */
  .btn-primary {
    background-color: var(--bs-primary);
    border-color: var(--bs-primary);
  }
  
  .btn-secondary {
    background-color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }
  
  .btn-success {
    background-color: var(--bs-success);
    border-color: var(--bs-success);
  }
  
  .btn-info {
    background-color: var(--bs-info);
    border-color: var(--bs-info);
  }
  
  .btn-warning {
    background-color: var(--bs-warning);
    border-color: var(--bs-warning);
  }

  .btn-outline-primary {
    color: var(--bs-primary);
    border-color: var(--bs-primary);
  }

  .btn-outline-secondary {
    color: var(--bs-secondary);
    border-color: var(--bs-secondary);
  }

  .btn-outline-danger {
    color: var(--bs-danger);
    border-color: var(--bs-danger);
  }

  /* Override Navbar colors */
  .navbar {
    background-color: var(--bs-primary);
  }
  
  /* Apply the primary color to the navbar */
  .navbar.bg-primary, .navbar.navbar-light.bg-primary {
      background-color: var(--bs-primary) !important;
    }

    /* Make navbar text white */
  .navbar-light .navbar-nav .nav-link, 
  .navbar-light .navbar-brand {
      color: #ffffff !important; /* White color */
  }

  /* Change the hover and focus color for the navbar links */
  .navbar-light .navbar-nav .nav-link:hover, 
  .navbar-light .navbar-nav .nav-link:focus {
      color: #cccccc !important; /* Light grey color for hover/focus */
  }
  body {
    background-color: #abc9f6; /* Light gray background */
  }
  

