<!-- LAINEY -->
<!-- This is the color_picker.html file -->
{% extends 'base.html' %}

{% load static %}

{% block title %} Color Picker {% endblock %}

{% block content %}
<!-- CSS styles for the color picker -->
<style>
    .pantone-card {
    width: 500px;
    height: 600px;
    border: 3px solid #020202;
    margin: 20px auto;
    font-family: Arial, sans-serif;
    background-color: white;
    }
    .color-display {
    height: 70%;
    background-color: #fff; /* default background in case image fails to load */
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .color-image {
    width: 400px; 
    height: 375px; 
    display: block;
    object-fit: cover;
    object-fit: cover;
    }
    .color-info {
    padding: 5px 45px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
    height: auto;
    }
    .color-name {
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-bottom: 0px;
    }
    .color-date {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0px;
    }
    .color-description {
    font-size: 25px;
    font-weight: bold;
    }
</style>

<!-- Container div -->
<div class="container mt-4"></div>

<!-- Page title -->
<h1 class="page-title">Color of the Day</h1>

<!-- Popup message -->
<div class="popup alert alert-primary shadow" role="alert" style="border-radius: 20px; overflow: hidden;">
    Explore Today's Color Inspiration! 🎨 Discover which color best reflects today's mood and style trends. Get inspired with outfit ideas to enhance your look with today's featured color!
</div>

<!-- Pantone card -->
<div class="pantone-card">
    <!-- Color display -->
    <div class="color-display">
        <img src="{% static color.image_path %}" alt="Color Image" class="color-image">
    </div>
    <!-- Color info -->
    <div class="color-info">
        <h1 class="color-name">{{ color.name }}</h1>
        <p class="color-date">{{ today_date }}</p> 
        <p class="color-description">{{ color.description }}</p>
    </div>
</div>
{% endblock %}
