{% extends "users/base.html" %}
{% block title %}Profile Page{% endblock title %}
{%load static%}
{% block content %}
    <div class="row my-3 p-3">
        <h1>This is the profile page for {{user.username}}</h1>
    </div>
    <div class="row my-3 p-3">
        <img src="{% static 'images/profile.png' %}" alt="profile">
        <h2>Profile Information</h2>
        <p>Username: {{user.username}}</p>
        <p>Email: {{user.email}}</p>
        <p>First Name: {{user.first_name}}</p>
        <p>Lasst Name: {{user.last_name}}</p>
        <p>Venmo: {{user.profile.venmo_url}}</p>
        <img src="{{ MEDIA_URL }}{{user.profile.profile_pic.url}}" alt="profile picture">
        <a href="{% url 'edit_profile' %}" class="btn btn-primary rounded-pill shadow">Edit Profile</a>
    </div>

{% endblock content %}
