{% extends 'base.html' %}
{%load static%}


{% block content %}



<div class="container mt-4">
    <div class="row">
        <!-- Profile Picture and Username -->
        <div class="col-md-4 text-center">
            {% csrf_token %}
            <!-- No longer looks clickable :)-->
            <img src="{% static 'images/frame.png' %}" class="img-fluid rounded-circle shadow mb-3" alt="Profile Picture" style="width: 150px; height: 150px;">
            <label for="profilePicture">
                {% if user.profile.profile_pice %}
                <img src="{{ user.profile.profile_pic.url }}" class="img-fluid rounded-circle shadow mb-3" alt="Profile Picture" style="width: 150px; height: 150px;">
                {% else %}
                <img src="{% static 'images/default.jpg' %}" class="img-fluid rounded-circle shadow mb-3" alt="Default Profile Picture" style="width: 150px; height: 150px;">
                {% endif %}
            </label>
        </form>
        <h3><strong>{{ user.username|slice:":15" }}</strong></h3>
    </div>
    <div class="row mt-3">
        <div class="col">
            <!-- Rounded card -->
            <div class="card" style="border-radius: 20px; overflow: hidden;">
                <div class="card-body">
                    <!-- Card body for padding and spacing -->
                    <h4 class="card-title"><strong>Profile Details:</strong></h4>
                    <!-- Put the pets and like and stuff here pls pls pls remember and read seamus -->
                    <!-- Displaying the user's details -->
                    <p><strong>Name:</strong> {{ user.first_name }} {{ user.last_name }}</p>
                    <p><strong>Email:</strong> {{ user.email }}</p>
                    <p><strong>Venmo: </strong> {{ user.profile.venmo_url }}</p>
                    <p><strong>Pinterest:</strong> {{ user.profile.pinterest_url }}</p>
                    <p>{{ user.profile.bio }}</p>
                    <a href="{% url 'edit_profile_page' profile.id %}" class="btn btn-primary rounded-pill shadow">Edit Profile</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}