{% extends 'base.html' %}

{% load static %}
{% load l10n %} <!-- for the price comma seperators. don't touch this or tz, please! -->
{% load tz %} <!-- to set it to florida timezone w/ filters later. i would ideally like this set to any device's timezone, but screwing with middleware feels like asking for bugs... -->

{% block title %} {{ item.name }} - Shop {% endblock %}

{% block content %}
<!-- ANDY WORKED ON THIS ONE -->
<style>
  .itemPrice { /* this was an accident but i actually like how it looks */
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' version='1.1' height='calc(1.5em + .75rem + 2px)' width='100%'><text x='2' y='13' fill='gray' font-size='12' font-family='arial'>$</text></svg>");
  padding-left: 12px;
  background-repeat: no-repeat;
}

.img-thumbnail {
  min-height: 50%; 
  object-fit: cover;
}
</style>

<script>
  function generateMailtoLink() {
    // Get the email, item name, and request path
    var userEmail = "{{ item.user.email }}";
    var itemName = "{{ item.name }}";
    var requestPath = "http://fourwindsthrift.pythonanywhere.com{{ request.path }}"; //may need to change after deployment, we'll see

    // Construct the subject and body for the email
    var subject = encodeURIComponent("[Four Winds Thrift] Interested: " + itemName);
    var body = encodeURIComponent("Hi! I'm interested in buying this item from you.\n" + requestPath);

    // Construct the mailto link
    var mailtoLink = "mailto:" + userEmail + "?subject=" + subject + "&body=" + body;

    // Open the mailto link in a new window or tab
    window.open(mailtoLink);
  }
</script>

<!-- MODALS -->
<!-- edit -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editItemModal" aria-hidden="true"> <!-- USES add_item VIEW FUNCTION; the enctype allows this form WITHOUT using the django form!-->
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit Item</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Add Item Form -->
        <form method="POST" id="editItem" action="{% url 'edit-item' item.id %}" enctype="multipart/form-data"> <!-- THIS TRIGGERS THE edit_item VIEW FUNCTION-->
            {% csrf_token %}
            {{ editform.as_p }}              
            <div class="modal-footer">
              <input type="hidden" name="edit_item" action="edit_item" value="true">
              <button type="submit" name="edit_item" class="btn btn-outline-info" aria-label="Submit">Submit changes</button>
            <!-- Footer, put buttons here-->
            </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- delete item confirmation -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
  <div class="modal-header">
    <h1 class="modal-title fs-5" id="deleteModalLabel">Are you sure you want to delete this item?</h1>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
  </div>
  <div class="modal-body">
    <p>This action cannot be undone.</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Cancel">Cancel</button>
    <form method="POST" action="{% url 'delete-item' item.pk %}">
      {% csrf_token %}
      <button type="submit" action="delete-item" class="btn btn-danger" aria-label="Delete">Delete</button>
    </form>
  </div>
    </div>
  </div>
</div>



<!-- GENERAL ITEM INFO DISPLAY -->
<div class="container">
  <a class="btn btn-primary mt-2 mb-2" href="{% url 'listings' %}">Back to listings...</a> <!-- make this cute later -->
  <div class="row">
    <div class="col-md-6">
      <img src="{{ item.image.url }}" class="img-thumbnail rounded-0 mb-4" alt="Image of {{item.name}}">
    </div>
    <div class="col-md-6">
      <h2 class="flex-container" style="overflow-wrap: break-word;">{{ item.name }}</h2>
      <h4 class="price">${{ item.price|localize }}</h4>
      <p><a class="badge text-bg-secondary" title="View profile" href="">@{{ item.user }}</a></p> <!-- insert link to profiles here -->
      <p style="overflow-wrap: break-word;"> {{ item.description }} <br> <small> Posted {{ item.date_posted|timezone:"America/New_York" }} </small></p>
      {% if item.user == request.user %}
      <div class="user-options mt-2 mb-2">
        <button data-bs-toggle="modal" data-bs-target="#editModal" aria-label="Edit" class="btn btn-outline-primary">Edit</button>
        <button data-bs-toggle="modal" data-bs-target="#deleteModal" aria-label="Delete" class="btn btn-outline-danger">Delete</button>
      </div>
      {% endif %}
      <!-- only do this if she for real wants a fake cart :(
      <form action="url 'add_to_cart'" method="post">
        {% csrf_token %}
        <input type="hidden" name="item_id" value="{{ item.id }}">
        <button class="btn btn-primary">Add to cart</button>
      </form>
      -->
      <button onclick="generateMailtoLink()" title="Contact seller via email" rel="noreferrer noopener" class="btn btn-primary" aria-label="Contact by email">Contact seller</button> 
      <!-- clicking this opens the user's mail client and populates the email with an email about interest. this is since we can't have a payment portal, and other local-based second-hand sites like craigslist use this method. :) -->
    
      <!-- COMMENT SECTION -->
      <h3 class="mt-2">Comments</h3>
      <form action="{% url 'add-comment' item.pk %}" method="POST" enctype='multipart/form-data'> <!-- enctype serves to use the form.. -->
        {% csrf_token %}
        <div class="form-floating">
          <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea" maxlength="250" style="width: 30rem;" name="comment"></textarea>
          <label for="floatingTextarea">Comment here (250 characters max).</label>
        </div>
        <button type="submit" action="add-comment" class="btn btn-primary mb-2 mt-2">Submit</button>
      </form>
      {% if comments.0 == None %}
        <p>No comments yet. If you want to purchase this item, let {{item.user}} know!</p>
      {% else %}
        {% for comment in comments %}
          <div class="card p-1 rounded-0 mb-3" style="width: 30rem;">
            <div class="card-body pb-0">
              {% if comment.user == request.user %} {%  if comment.comment != 'This comment has been deleted.'%}
              <button class="btn-close" style="float:right;" data-bs-toggle="modal" aria-label="Delete" data-bs-target="#deleteCommentModal" title="Delete post (only deletes text)"></button>
              {% endif %} {% endif %}
              <h5 class="card-title">
                <a href="" title="View profile" style="text-decoration: none;">{{ comment.user }} </a>
              </h5> <!-- ADD LINK TO USER PROFILE LATER -->
              {% if comment.comment == 'This comment has been deleted.' %} <p><i>{{ comment.comment }}</p> </i> {% else %} <p>{{ comment.comment }}</p> {% endif %}
              <p><small>{{ comment.date_posted|timezone:"America/New_York" }}</small></p>
            </div>
          </div>

          <!-- delete comment modal; i'd keep it by the others, but this works best for the unique pks if it's inside of the loop -->
          <div class="modal fade" id="deleteCommentModal" tabindex="-1" aria-labelledby="deleteCommentModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="deleteCommentModalLabel">Delete comment</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Are you sure you want to delete this comment? Only the text is removed.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                  <form method="POST" action="{% url 'delete-comment' comment.pk %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Confirm</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      {% endif %}
    </div>
  </div>
</div>


{% endblock %}
